<!doctype html>
<title>Albert is watching</title>
<body style="width: auto; margin: 5% 20%;">
    <table style="font-size: 1.3em">
      <tr><th>Job</th><th>Status</th><th>Time</th></tr>
      {% for job_name, (status, url, build_time) in statuses.items() %}
      {% if status == "FAILURE" %}
      <tr style="background: #F7DAE6">
      {% else %}
      <tr style="background: #CAE8CC">
      {% endif %}
        <td style="padding: .7em"><a href="{{ url }}">{{ job_name }}</a></td>

        <td style="padding: .7em">{{ status }}</td>
        <td style="padding: .7em">{{ build_time }}</td>
      </tr>
      {% endfor %}
    </table>

    <p>Last generated: {{ time }}</p>
</body>
